.git
.gitignore
.dockerignore

config-depot
bin/
dist/
build/
*.test
*.out
coverage.*
.coverprofile

data/
config/
upload_secret
upload_token
sub_secret
subscribe
deploy_url

*.tar
*.tar.gz
*.tar.gz.aes
.DS_Store
